@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
body{
    border: 3px solid;
    color: black;
    width: 800px;
    height: 1050px;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
.header
{
    margin-top: 44px;
    height: 85px;
    margin-left: 0px;
    width: 450px;
    text-align: center;
    background-color: rgb(167, 164, 164);
}
.profile
{
    /* width: 150px; */
    border: 5PX solid;
    border-radius: 10px;
    color: rgb(167, 164, 164);
    height: 130px;
    width: 130px;
    top: 20px;
    left: 450px;
    position: absolute;
} 
.p1{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}
.p1 span{
    font-weight: bold;
    color: #e2dada;
}

.p2{
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    margin-top: 10px;
}
/* left */
.left
{
    width: 310px;
    top: 0;
    width: 39%;
    float: left;
}
.left .nav-toggler.open span::after
{
    transform: rotate(-45deg);
    top: 0;
}
.left .nav
{
    margin-top: 50px;
    margin-left: -20px;
}
.left .nav li
{
    margin-bottom: 10px;
    margin-left: 0%;
    display: block;
}
.left .nav  li a
{
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
}

.head{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.low{
    margin-top: -20px;
    margin-left: 10px;
}
.low li{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    
}

.low p{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    
}


.right{
    margin-top: 20px;
    margin-right: 25px;
    width: 55%;
    float: right;
    border-left: 1px solid black;
    height: 850px;

    
}
h4{
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: -5px;
    font-weight: 500;
}
.foot{
    height: 35px;
    width: 500px;
    border-radius: 50px 0 0 0;
    bottom: -52px;
    left: -85px;
    position: relative;
    background-color: rgb(167, 164, 164);
}
.hob {
    display: flex;
    justify-content: space-around; 
}