@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body {
    color: black;
    width: 850px;
    height: 1110px;
    margin: 50px auto;
    padding: 0;
    font-family: system-ui;
    border: 3px solid;
}

.header {
    margin-top: 44px;
    height: 85px;
    right: 0px;
    width: 450px;
    text-align: center;
    background-color: rgb(167, 164, 164);
    position: relative;
}

.profile {
    border: 5px solid;
    border-radius: 10px;
    color: rgb(167, 164, 164);
    height: 130px;
    width: 130px;
    position: absolute;
    top: -27px;
    left: 450px;
}

.p1 {
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.p1 span {
    font-weight: bold;
    color: #e2dada;
}

.p2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}

/* Left Section */
.left {
    width: 39%;
    float: left;
    top: 0;
}

.left .nav-toggler.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.left .nav {
    margin-top: 50px;
    margin-left: -20px;
}

.left .nav li {
    margin-bottom: 10px;
    display: block;
}

.left .nav li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-900);
}

.head {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.low {
    margin-top: -20px;
    margin-left: 10px;
}

.low li {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
}

.low p {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
}

/* Right Section */
.right {
    margin-top: 30px;
    margin-right: 25px;
    width: 55%;
    float: right;
    border-left: 1px solid black;
    height: 900px;
}

h4 {
    margin-left: -15px;
    margin-top: 20px;
    margin-bottom: -5px;
    font-weight: 500;
}

/* Footer */
.foot {
    height: 35px;
    width: 550px;
    border-radius: 50px 0 0 0;
    bottom: -1px;
    left: -107px;
    position: relative;
    background-color: rgb(167, 164, 164);
}

/* Hobbies Section */
.hob {
    display: flex;
    justify-content: space-around;
}

.unique-download-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #302e4d; /* --text-black-900 */
    color: #fdf9ff; /* --bg-black-100 */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.unique-download-btn:hover {
    background-color: #504e70; /* --text-black-700 */
    transform: scale(1.1);
}
